<div class="container">
    <div class="row">
      <div class="col-md-12 box">
        <div class="product-detail">
            <h1>{{product.title}}</h1>
            <img ng-src="{{product.image}}" alt="{{product.title}}">
            <div class="details">
                <star-reviews rating-value="product.stars"></star-reviews>
                <p>{{product.description}}</p>
            </div>
            <div class="price">
                <h2>${{product.price}}</h2>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="buy()">Buy Now</button>

        </div>
        <div class="comments">
            <form ng-submit="addComment(product.id, comment); comment = ''">
            <textarea class="form-control" ng-model="comment"></textarea><br>
            <button type="submit" class="btn btn-primary comment-button">Comment</button>
            </form>
            <div class="comment-box" ng-repeat="comment in $storage.comments[product.id]">
                {{comment}}
            </div>
        </div>
      </div>
    </div>
</div>
