<div class="container">
    <div class="row">
      <div class="col-md-12 box">
        <div class="search-bar">
            <span class="input-group">
                <strong>Filter By:</strong>
                <select ng-model="search.category" ng-options="option for option in ['mens', 'women']"></select>
                <select ng-model="search.price" ng-options="option.price for option in products"></select>
                <star-filter selection="search.stars" change="activateSearch" sort-function="changeSort" sort="sort">
                </star-filter>
                <a ng-click="clearSearch()" ng-show="search.category || search.stars">Clear</a>
            </span>
        </div>
        <a ng-repeat="product in products | filter:search:strict" class="product-box" href="/#/products/{{product.id}}">
            <img ng-src="{{product.image}}" alt="{{product.title}}">
            <div class="details">
                <h3>{{product.title}}</h3>
                <star-reviews rating-value="product.stars"></star-reviews>
            </div>
            <div class="price">
                <h2>${{product.price}}</h2>
            </div>
        </a>
      </div>
    </div>
</div>
