<div class="filter glassdoor" ng-mouseenter="showDropdown = true" ng-mouseleave="showDropdown = false">

    <star-reviews rating-value="selection"></star-reviews>
    <i class="fa fa-chevron-down"></i>
    <div class="options glassdoor" ng-show="showDropdown">
        <div ng-repeat="option in options" class="option" ng-click="select(option)" ng-class="(option==selection) ? 'active' : ''">
            <span ng-show="option == 0">All Ratings</span>
            <star-reviews rating-value="option" ng-hide="option == 0"></star-reviews>
        </div>
    </div>
</div>
